
<ul class="nav navbar-nav">

    <li>
        @Html.ActionLink("Замовлення", "OrderList", "Admin", null, new { @class = "btn btn-secondary" })
    </li>
    <li>
        @Html.ActionLink("Вільні кімнати", "RoomList", "Admin", null, new { @class = "btn btn-secondary" })
    </li>
    <li>
        @Html.ActionLink("Додати кімнату", "CreateRoom", "Admin", null, new { @class = "btn btn-secondary" })
    </li>
    <li>
        @Html.ActionLink("Зайняті кімнати", "ResultListAdmin", "Admin", null, new { @class = "btn btn-secondary" })
    </li>
</ul>
