
<ul class="nav navbar-nav">
    <li class="nav-item">
        @Html.ActionLink("Мої замовлення", "OrderList","User",null, new { @class = "btn btn-secondary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Нове замовлення", "CreateOrder", "User", null, new { @class = "btn btn-secondary" })
    </li>
    <li class="nav-item">
        @Html.ActionLink("Результати", "ResultList", "User", null, new { @class = "btn btn-secondary" })
    </li>
   
</ul>